flows.json
[
    {
        "id": "2420cd77be45125d",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4306af5117c23f81",
        "type": "mysql",
        "z": "2420cd77be45125d",
        "mydb": "ccc1a3fcf40b1e7d",
        "name": "",
        "x": 780,
        "y": 240,
        "wires": [
            [
                "8fc56099279bf3bc"
            ]
        ]
    },
    {
        "id": "8fc56099279bf3bc",
        "type": "debug",
        "z": "2420cd77be45125d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 240,
        "wires": []
    },
    {
        "id": "52a107265158ee91",
        "type": "change",
        "z": "2420cd77be45125d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "INSERT INTO dados (Msg, hora) VALUES ('batida detectada', \"hora\");",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "4306af5117c23f81",
                "8d5ae11d117f6560"
            ]
        ]
    },
    {
        "id": "d4bf21207a8e8166",
        "type": "http in",
        "z": "2420cd77be45125d",
        "name": "",
        "url": "/impactoPost",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "52a107265158ee91"
            ]
        ]
    },
    {
        "id": "8d5ae11d117f6560",
        "type": "ui_text",
        "z": "2420cd77be45125d",
        "group": "eee34c39df20d856",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "ccc1a3fcf40b1e7d",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "esp8266",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "eee34c39df20d856",
        "type": "ui_group",
        "name": "Default",
        "tab": "115938596edcd3c4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "115938596edcd3c4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]